.container {
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 700px;
    border: 1px solid black;
    background-color: #06D6A0;
}

.display {
    background-color: #FCFCFC;
}

button {
    width: 100px;
    height: 100px;

    background-color: #FFD166;
}

.operation, #btn-equal {
    background-color: #38a2ff;
}

#btn-clear {
    background-color: #EF476F;
}

/* use this https://coolors.co/26547c-ef476f-ffd166-06d6a0-fcfcfc */